stale_outputs_checked
.metadata
# eclipse
bin
eclipse
*.launch
.settings
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
*.DS_Store*
run
!LICENSE
!README.*
!.gitignore

# eclipse
